telethon
sqlalchemy
psycopg2-binary
gitpython
pymongo
dnspython
requests
apscheduler
bs4
lxml
geopy
PyDictionary
gpytranslate
pillow
multicolorcaptcha
telethon-tgcrypto
aiofiles
aiohttp
py-carbon
gtts
mutagen
youtube-search-python
youtube_dl
lottie
cairosvg
akinator.py
GoogleNews
spotdl
geniuses
bing-image-downloader==1.1.1
researchacademic
heroku3
bing_image_urls
telegraph
emoji
tgcalls==2.0.0
yt-dlp
ffmpeg-python
python-dotenv
